.new-btn{
    text-transform:capitalize;
    padding: 0 20px;
    max-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.campaings-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.actions {
    text-align: center;
}

.actions a {
    margin: 0;
    color: #333;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.actions a:hover {
    color: #00c276;
}

.title{
    text-align: right;
    width: 100%;
}

.toggle-switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-switch::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    top: 1px;
    left: 2px;
    transition: 0.3s;
}

.toggle-switch.active {
    background: #28a745;
}

.toggle-switch.active::after {
    left: 20px;
}
.ico{
    padding: 0;
}
.toogle{
    padding: 0 10px;
}