.header{
    background-color: var(--heared-color);
    max-height: 80px;
}


.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}
.content > * {
    display: flex;
}
.logo{
    padding: 10px 0;
}
ul{
    display: flex;
    gap: 10px;
}
.menu-option a {
    display: flex;
    color: #FFFF;
    gap: 5px;
    align-items: center;  
    justify-content: center;
    height: 100%;
}
.menu-option p {
    margin: 0;
    font-size: 1em;
}

.menu-option a {
    padding: 0 30px;
}
.menu-option{
    padding-left: 300px;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
}

.menu-option p {
    color: inherit;
    margin: auto;
    display: block;
    line-height: 1.5; 
    font-size: 1.2em;
}

#menu .router-link-active {
    border-bottom: 5px solid #00c276;
    color: #00c276;
}

#menu a:hover {
    background-color: #2b2b2b;  
    color:#00c276;
}

#menu .router-link-active:hover {
    border-bottom: 5px solid transparent;
}



#user-top {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7px;
}

#user-top i {
    cursor: pointer;
}

#user-circle {
    border-radius: 50%;
    background-color: #1e1e1e;
    width: 35px;
    height: 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFFF;
}

#user-info {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: 16px;
    white-space: nowrap;
}

#user-info.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

#user-info.active * {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

#user-info.active:hover * {
    color: #00c276;
}

.fas.fa-caret-down{
    color: #fff;
}
.fas.fa-bars{
    display: none;
}
a:has(.fa-solid.fa-xmark){
    display: none;
}

@media screen and (max-width: 1200px) {
    .menu-option{
        padding-left: 0px;
    }
    .wrapper{
        padding: 0 30px;
    }
}


@media screen and  (max-width: 768px) { 
    
    .wrapper{
        padding: 0 10px;
    }
    a:has(.fa-solid.fa-xmark){
        display: flex;
    }

    .fas.fa-bars{
        display: inline;
        vertical-align: middle;
        margin: auto 0;
        margin-right: auto;
        color: #fffF;
        
    }
    /* .fas.fa-bars::before{
        height: 25px;
        width: 25px;
    } */
    .menu-option a p {
        /* display: none; */
        font-size: 1.5em;
    }
    .menu-option{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #2e2e2e;
        z-index: 1;
        display: none;
        /* display: flex; */
        flex-direction: column;
        overflow: hidden;
    }
    .menu-option.active{
        display: flex;
    }
    .menu-option p{
        padding: 0;
        margin: 0;
    }
    .menu-option a {
        width: 100%;
        display: flex;
        gap: 10px;
        max-height: 50px;
    }
    #menu .router-link-active {
        color: #00c276;
        border-bottom: none;
        background: none;
    }    
    #menu .router-link-active i{
        color: #FFFF;
    } 
    #menu a:hover {
        background-color: transparent;
    }
 }

 @media screen and (max-width: 576px) { 

    /* .menu-option a p {
        display: none;
    } */
  }